{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--Font-Awesome stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--font-families-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">

</head>

<body>
    <div class="container">

    <!-- Navigation at top of page -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <!-- Collapses navbar onto a button when it doesn't fit on screen. Will display similar to dropdown menu -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'front_page'%}">TEAM2OARS</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="#"> About Us </a> </li>
                <li> <a href="{% url 'contact_us'%}"> Contact Us </a> </li>
                <li> <a href="{% url 'testimonials'%}"> Testimonials </a> </li>
            </ul>
            </div>

        </nav>


    <!--About Us Page Begins -->
        <h1> Meet our dedicated team!</h1>
        <h3 class="text-style"> We work hard to provide you with a great customer experience.</h3>
        <br>
        <br>


        <!-- Row 1 of Team -->
        <div class="row text-center text-style">
            <div class="col-sm-4 center-block">
                <img class="img-responsive img-circle" src="http://www.altinawildlife.com/portals/0/Yawning-Red-Panda.jpg" style="width:500px;height:350px" alt="puppy">
                <h4>Ana Hernandez</h4>
                <p class="text-muted"> Team Leader</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-circle" src="http://www.iflscience.com/sites/www.iflscience.com/files/blog/%5Bnid%5D/u.jpg" style="width:500px;height:350px" alt="puppy">
                <h4>Idam Obiahu</h4>
                <p class="text-muted"> Software Quality Assurance</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-circle" src="http://imgfave-chat-herokuapp-com.global.ssl.fastly.net/image_cache/1312908111988739.jpg" style="width:500px;height:350px" alt="puppy">
                <h4>Gabriela Cruz</h4>
                <p class="text-muted">Database Administrator</p>
            </div>
        </div>

        <br>
        <br>

        <!-- Row 2 of Team -->
        <div class="row text-center text-style">
            <div class="col-sm-2">
                <!-- Blank col for spacing purposes -->
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-circle" src="http://blog.boostability.com/wp-content/uploads/2014/09/Panda-Update.jpg" style="width:500px;height:350px" alt="puppy">
                <h4>Rashan Whittaker</h4>
                <p class="text-muted">Database Administrator</p>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive img-circle" src="http://static1.squarespace.com/static/5005afd7e4b0a6953320bf3f/t/528cfce6e4b0c1452601a558/1384971527352/4651364311_f505cc3cc3_o.jpg" style="width:500px;height:350px" alt="puppy">
                <h4>Korede Allen</h4>
                <p class="text-muted">Team Member</p>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <h4 class="text-center text-style">Feel free to contact us with any feedback, comment or concern that you may have.</h4>


    </div>
</body>

<footer>
    <div class="container-fluid">
        <hr>
        <div class="row">

            <div class="col-sm-2 text-left">
                <h4>Connect with us</h4>
            </div>

            <div class="col-sm-4 text-left">
                <ul class="list-inline">
                    <li class="fa fa-2x fa-linkedin"> </li>
                    <li class="fa fa-2x fa-facebook"> </li>
                    <li class="fa fa-2x fa-instagram"> </li>
                    <li class="fa fa-2x fa-twitter"> </li>
                </ul>
            </div>

            <div class="col-sm-6 text-right">
                <h4>Copyright &copy TEAM2OARS</h4>
            </div>
        </div>
    </div>

<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57178e64c703ec8e24b87cad/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

</footer>

</html>